<div class="card" >
    <div class="card-body">
        <h5 class="card-title"><strong> Reimbuserment ID#</strong> <span id="reimbID"></span></h5>
        <div class="card-text"><strong>Amount:</strong> <span id="amount"></span></div>
        <div class="card-text"><strong>Description:</strong> <span id="description"></span></div>
        <div class="card-text"><strong>Type:</strong> <span id="type"></span></div>
        <div class="card-text"><strong>AuthorID:</strong> <span id="authorId"></span></div>
        <div class="card-text"><strong>Submitted:</strong> <span id="submitted"></span></div>

        <button href="#" class="btn btn-success" id="approve">Approve</button>
        <button href="#" class="btn btn-danger" id="deny">Deny</button>
        <button href="#" class="btn btn-warning" id="cancel">Cancel</button>
    </div>
</div>