
<div class="container">
    <button id="get-by-type-travel" type="button" class="btn btn-warning">Travel</button>
    <button id="get-by-type-lodging" type="button" class="btn btn-warning">Lodging</button>
    <button id="get-by-type-food" type="button" class="btn btn-warning">Food</button>
    <button id="get-by-type-other" type="button" class="btn btn-warning">Other</button>
    <button id="get-by-status-pending" type="button" class="btn btn-warning">Pending</button>
    <button id="get-by-status-approved" type="button" class="btn btn-warning">Approved</button>
    <button id="get-by-status-denied" type="button" class="btn btn-warning">Denied</button>
    <button id="view-all-reimb" type="button" class="btn btn-warning">All</button>
</div>

<div id="view-all-reimb-container" class="table">
    <h4>View Your Reimbursements & Details</h4>
    <table id="view-all-reimb-table" class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Amount</th>
                <th scope="col">Submitted </th>
                <th scope="col">Description</th>
                <th scope="col">Type</th>
                <th scope="col">Author Name</th>
                <th scope="col">Status</th>
                <th scope="col">Update</th>
            </tr>
        </thead>
    </table>
</div>
