<div class="login-container, animate__animated animate__fadeInUp">
    <h3>Create your ERS account:</h3>

    <div class="form-group">
        <label for="fn">First name</label>
        <input type="text" class="form-control" id="fn" placeholder="Enter your first name">
    </div>
    <div class="form-group">
        <label for="ln">Last name</label>
        <input type="text" class="form-control" id="ln" placeholder="Enter your last name">
    </div>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter your email address">
    </div>
    <div class="form-group">
        <label for="reg-username">Username</label>
        <input type="text" class="form-control" id="reg-username" placeholder="Enter your desired username">
    </div>
    <div class="form-group">
        <label for="reg-password">Password</label>
        <input type="password" class="form-control" id="reg-password" placeholder="Enter your password">
    </div>
    <div id="reg-button-container">
        <button type="submit" class="btn btn-warning" id="register">Register</button>
    </div>
    <br/>
    <br/>
    <div class="alert alert-danger" id="reg-message"></div>
</div>

