<div id="update-reimbursement-container">
    <h2>Udate Reimbuserment ID# <span id="reimbID"></span></h2>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="amount">Amount</label>
            
            <input name="amount" type="" class="form-control" id="amount" required>
            
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="description">Enter Details</label>
            <textarea name="description" class="form-control" id="description" rows="3" required></textarea>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <label for="type">Type</label>
            <select class="custom-select" id="type" required name="type">
                <option selected disabled value="">Choose</option>
                <option>LODGING</option>
                <option>TRAVEL</option>
                <option>FOOD</option>
                <option>OTHER</option>
            </select>
            <div class="invalid-feedback">
                Please select a valid Type.
            </div>
        </div>
    </div>
    <button id="update" class="btn btn-primary" type="submit">Update Reimbursement</button>
    <button class="btn btn-warning" id="cancel">Cancel</button>
</div>