<div id="view-reimb-container" class="table">
    <h4>View Your Reimbursements & Details</h4>
    <table id="view-reimb-table" class="table">
        <thead class="thead-dark">
            <tr class="">
                <th scope="col">ID</th>
                <th scope="col">Amount</th>
                <th scope="col">Submitted </th>
                <th scope="col">Description</th>
                <th scope="col">Type</th>
                <th scope="col">Resolver Name</th>
                <th scope="col">Status</th>
                <th scope="col">Update</th>
            </tr>
        </thead>
    </table>
</div>
