<div class="card" >
    <div class="card-body">
        <h5 class="card-title">Delete User ID# <span id="uID"></span></h5>
        <div class="card-text">User Name: <span id="reg-username"></span></div>
        <div class="card-text">First Name: <span id="fn"></span></div>
        <div class="card-text">Last Name: <span id="ln"></span></div>
        <div class="card-text">Email Address: <span id="email"></span></div>
        <div class="card-text">
            <article>
                Note: Users cannot be fully deleted from system. the requested user 
                will be given a role of "deleted", preventing them from using the site 
                while maintaining integrity of the reimbursements.
            </article>
        </div>
        <button class="btn btn-success" id="delete">Delete</button>
        <button class="btn btn-warning" id="cancel">Cancel</button>
    </div>
</div>