<div class="card" >
    <div class="card-body">
        <h5 class="card-title"><strong>Delete User ID#:</strong> <span id="uID"></span></h5>
        <div class="card-text"><strong>User Name:</strong> <span id="reg-username"></span></div>
        <div class="card-text"><strong>First Name:</strong> <span id="fn"></span></div>
        <div class="card-text"><strong> Name:</strong> <span id="ln"></span></div>
        <div class="card-text"><strong>Email Address:</strong> <span id="email"></span></div>
        <br/>
        <div class="card-text">
            <p>
                <strong>Note:</strong> Users cannot be fully deleted from system. the requested user 
                will be given a role of "deleted", preventing them from using the site 
                while maintaining integrity of the reimbursements.
            </p>
            
        </div>
        <button class="btn btn-danger" id="delete">Delete This User</button>
        <button class="btn btn-warning" id="cancel">Cancel</button>
    </div>
</div>

